body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    display: flex;
 
    margin-top: -45px; 
}


.row.shift {
    margin-left: 0; 
}

.diamond {
    width: 130px;
    height: 130px;
    margin: 8px;
    overflow: hidden;
   
    transform: rotate(45deg);
    border-radius: 10px;
    background: #000;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.diamond img {
    width: 150%;
    height: 150%;
    object-fit: cover;
 
    transform: rotate(-45deg) translate(-17%, -17%);
   
    filter: brightness(0.6) grayscale(0.2);
    transition: all 0.4s ease;
}



.diamond:hover {
    transform: rotate(45deg) scale(1.1);
    z-index: 10; 
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.diamond:hover img {
    filter: brightness(1.1) grayscale(0); 
    transform: rotate(-45deg) scale(1.15) translate(-17%, -17%); 
}